{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [],
    "env": {
        "browser": true
    },
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "max-len": 0,
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        "space-before-function-paren": [2, {
            "anonymous": "always",
            "named": "never"
        }],
        "id-length": 0,
        "no-param-reassign": 0,
        "arrow-parens": ["error", "as-needed"],
        "no-use-before-define": ["error", { "functions": false, "classes": true }],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-console": 0,
        "no-restricted-syntax": 0
    }
}
